@import './variables';
@import './keyframes';

@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/variables-dark';

$theme-colors: map-merge($theme-colors, $custom-colors);

.on-hover-shadow {
  :hover {
    animation: shadow-drop-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
}
.on-hover-shadow-lg {
  :hover {
    animation: shadow-drop-center-lg 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
  }
}

.anim-loading {
  position: relative;
  width: 2em;
  height: 2em;
  border: 3px solid $primary;
  overflow: hidden;
  animation: spin 3s ease infinite;
}

.anim-loading::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: 2em;
  height: 2em;
  background-color: $primary;
  opacity: 0.85;
  transform-origin: center bottom;
  transform: scaleY(1);
  animation: fill 3s linear infinite;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: $secondary;
  border-radius: 10px;
}

::-moz-selection {
  background: #b1def3;
}

::selection {
  background: #b1def3;
}

* {
  scroll-behavior: smooth;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: $secondary transparent; /* For Firefox */
}

g,
path {
  :focus {
    outline: none;
  }
}

@import '../node_modules/bootstrap/scss/bootstrap';
